MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=market-place
JWT_SECRET=uniflux-super-secret-key-must-be-32-chars-min
JWT_ALGORITHM=HS256
OPENWEBNINJA_API_KEY=your_api_key_here
APP_PORT=3085
APP_ENV=development
